.date-input {
    background-image: url(../../../../../assets/images/icons/calendar.svg);
    background-position: 10px 10px;
    background-size: 24px;
    background-repeat: no-repeat;
    padding-left: 44px;
}