.select-option {
    appearance: none;
    background-image: url(../../../../../assets/images/icons/arrowDown.svg);
    background-position: calc(100% - 10px) 10px;
    background-size: 24px;
    background-repeat: no-repeat;
    padding-right: 44px;
}